@font-face {
  font-family: 'TTInterphasesProVariable';
  src: url('../fonts/TTInterphasesProVariable/TT_Interphases_Pro_Trial_Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
